@use 'sass:color';

$theme-color: #499EF8;
$highlight-color: color.adjust($theme-color, $lightness: 30%);

body {
  max-width: 50rem;
  margin: 2rem auto;
  font-family: ui-sans-serif, system-ui, Roboto, "Helvetica Neue",
    Helvetica, sans-serif;
}

a:link, a:visited {
  text-decoration: none;
  color: $theme-color;
}

a:hover {
  color: $highlight-color;
}
