<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ config.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>

  <link href="{{ get_url(path="main.css", trailing_slash=false) | safe }}" rel="stylesheet">
  <link rel="alternate" type="application/atom+xml" href="{{ get_url(path="atom.xml", trailing_slash=false) | safe }}">
  <link rel="icon" href="{{ get_url(path=config.extra.favicon, trailing_slash=false) | safe }}">
  {% block header %}{% endblock header %}
</head>
<body>
  <header>
    <img class="logo" src="{{ get_url(path=config.extra.logo, trailing_slash=false) | safe }}">
    <div class="overview">
      <h1>
        <a href="{{ get_url(path="/") }}">{{ config.title }}</a>
      </h1>
      <div class="tagline">
        {{ config.description }}
      </div>
    </div>
  </header>
  <main>
    {% block main %}
    Hello, world!
    {% endblock main %}
  </main>
  <footer>
    <p><a href="https://www.sigplan.org">ACM SIGPLAN</a>
    &mdash;
    subscribe with <a href="{{ get_url(path="atom.xml", trailing_slash=false) | safe }}">RSS</a>
  </footer>
</body>
</html>
